<!doctype html>

{% extends "base.html" %}
{% load static %}
<br>
{% block content %}
<br>
<br>
    <div class="jumbotron text-center my-3">
  <h1>About Honey Shop</h1>
  <p class="text-uppercase">" We care about bees and we care about you ! "</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Passion for bees</h3>
      <p>Almost 20 years ago we discovered the passion for bees that would take us from 
      the urban landscape to the quirky mountain town and its surroundings.</p>

      <p>This is a business that sells bee products, but in the meantime you really care about bees. </p>
      <p>All started when the family, some of us from family, changed their diets, 
      replacing white refined sugar in their recipes with raw honey instead.</p>
    </div>
    
    <div class="col-sm-4">
      <h3>Passion for honey</h3>
      <p>This passion for honey in the kitchen blossomed into an interest in bees and pollinators in general.</p>
      <p>Born out of a passion for honey, a curiosity for bees, a love of cooking, and a yearning for connection to community. 
      <p>Honey Shop sells between 25-35 types of honey depending on the time of year and availability. </p>
      
    </div>
    <div class="col-sm-4">
      <h3>Passion for you</h3>        
      <p>Acacia honey is our forever favorite, partly due to the incredible taste, 
      but also because has traveled all the way from Transylvania, Romania.</p>
      <p>We are steadfast in our commitment to education and honey bee habitat protection.</p> 
      <p>  Even the landscaping and gardening around our home has bees and other pollinators in mind. </p>
    </div>
  </div>
</div>

{% endblock %}

            
